#container {
    
}

#container > div {
    border: 1px solid gray;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.text  {
    margin-right: auto;
}

.text input {
    display: block;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
