body, h1 {
    margin: 0;
    padding: 0;
}
header  {
    background-color: hsl(220, 90%, 90%);
    color: hsl(220, 90%, 20%);
}
header h1 {
    padding: 10px;

}
#menu {
    background-color: hsl(340, 90%, 90%);
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#menu ul li {
    flex-grow: 1;
}
#menu ul li a {
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: hsl(340, 90%, 10%);
}

#menu ul li a:hover {
    background-color: hsl(340, 90%, 10%);
    color: hsl(340, 90%, 90%);
}

.container {
    display: flex;
}
.container .item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
}
.container .item h2 {
    background-color: hsl(100, 90%, 20%);
    color: white;
    margin: 0;
    padding: 10px;
}
.container .item p {
    background-color: hsl(100, 90%, 90%);
    margin: 0;
    padding: 10px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.grid .item {

}

.image {
    display: flex;
    border: 1px solid black;
}
.image img {
    display: block;
    width: 50%;
}
.image p {
    width: 50%;
    margin: 0;
    padding: 10px;
}
